html,body {
  background-color: #eeeeee;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

html {
  height: 100% !important;
}

w-full {
  width: 100% !important;
}

h-full {
  height: 100% !important;
}